# Dependency directories
node_modules/
jspm_packages/

# 11ty build
_*

# Thumbnails
._*

# rollup.js default build output
dist/

# Gatsby files
.cache/

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# Temporary folders
tmp/
temp/
