---
title: Main page
layout: base.njk
---
    <!-- HERO AREA -->
    <section class="hero-area">
      <!-- SWIPER CONTAINER -->
      <div class="hero-slide-container swiper-container">
        <div class="swiper-wrapper">
          <!-- SLIDE ITEM-->
          <div class="swiper-slide">
            <div class="slide-wrapper slide_bg d-flex align-items-center" data-img-src="assets/img/Slide/1.jpg">
              <div class="container">
                <!-- TEXT CONTENT -->
                <div class="text-content text-white col-lg-10 p-0 text-center mx-auto" data-swiper-parallax="-200">
                  <!-- TITLE -->
                  <h2 class="xl-title text-uppercase text-white">
                    Smart <span class="bg-brash">Ideas <img src="assets/img/icon/brash.png" alt=""></span><br>
                    Our Digital Agency.
                  </h2>
                  <!-- DESCRIPTION -->
                  <p class="text-uppercase">Morbi eget pharetra felis. Nam pulvinar tincidunt purus eget convallis. Nulla eget arcu vitae velit suscipit mattis. Quisque at molestie odio.</p>
                  <!-- BUTTON -->
                  <div class="btn-area">
                    <a href="about.html" class="btn btn-lg btn-primary"><span class="btn-text">Discover More +</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- SLIDE ITEM-->
          <div class="swiper-slide">
            <div class="slide-wrapper slide_bg d-flex align-items-center" data-img-src="assets/img/Slide/2.jpg">
              <div class="container">
                <!-- TEXT CONTENT -->
                <div class="text-content text-white col-lg-10 p-0 text-center mx-auto" data-swiper-parallax="-200">
                  <!-- TITLE -->
                  <h2 class="xl-title text-uppercase text-white">
                    Smart <span class="bg-brash">Ideas <img src="assets/img/icon/brash.png" alt=""></span><br>
                    Our Digital Agency.
                  </h2>
                  <!-- DESCRIPTION -->
                  <p class="text-uppercase">Morbi eget pharetra felis. Nam pulvinar tincidunt purus eget convallis. Nulla eget arcu vitae velit suscipit mattis. Quisque at molestie odio.</p>
                  <!-- BUTTON -->
                  <div class="btn-area">
                    <a href="services.html" class="btn btn-lg btn-primary"><span class="btn-text">View Services +</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- SLIDE ITEM-->
          <div class="swiper-slide">
            <div class="slide-wrapper slide_bg d-flex align-items-center" data-img-src="assets/img/Slide/1.jpg">
              <div class="container">
                <!-- TEXT CONTENT -->
                <div class="text-content text-white col-lg-10 p-0 text-center mx-auto" data-swiper-parallax="-200">
                  <!-- TITLE -->
                  <h2 class="xl-title text-uppercase text-white">
                    Smart <span class="bg-brash">Ideas <img src="assets/img/icon/brash.png" alt=""></span><br>
                    Our Digital Agency.
                  </h2>
                  <!-- DESCRIPTION -->
                  <p class="text-uppercase">Morbi eget pharetra felis. Nam pulvinar tincidunt purus eget convallis. Nulla eget arcu vitae velit suscipit mattis. Quisque at molestie odio.</p>
                  <!-- BUTTON -->
                  <div class="btn-area">
                    <a href="contact.html" class="btn btn-lg btn-primary"><span class="btn-text">Contact Us +</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- HERO PAGINATION -->
      <div class="hero-pagination"></div>
    </section>
